<html lang="en">
    <head>
        <title>Welcome</title>
        <script type = 'text/javascript'>
            ((token) => {

                // @TODO send token to app.
                console.log(token);
            })(<%= session.token %>);
        </script>
    </head>
    <body>
        <div>
            <p>Welcome to the awesome app</p>
        </div>
    </body>
</html>